/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(135deg, #8ecae6 0%, #023047 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  /* Contenedor del login */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .login-box {
    background-color: #8ecae6;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
  }
  
  h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .input-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    color: #ffffff;
    margin-bottom: 0.5rem;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    background-color: #0e0e33;
    color: white;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btn-login {
    background-color: #635dfb;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn-login:hover {
    background-color: #4847d5;
  }
  
  .btn-register {
    background-color: #635dfb;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn-register:hover {
    background-color: #4847d5;
  }
  .modal-content{
    width: 300px;
    padding: 0.8rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    background-color: #8ecae6;
    color: white;
    text-align: center;

  }
  