:root {
  --max-width: 1280px;
  --padding-global: 2rem;
  --text-align: center;
  --logo-height: 6em;
  --logo-padding: 1.5em;
  --shadow-color: #646cffaa;
  --react-shadow-color: #61dafbaa;
  --card-padding: 2em;
  --docs-color: #888;
}

#root {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding-global);
  text-align: var(--text-align);
}

.logo {
  height: var(--logo-height);
  padding: var(--logo-padding);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--shadow-color));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--react-shadow-color));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: var(--card-padding);
}

.read-the-docs {
  color: var(--docs-color);
}

.flex-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
}

.flex-item {
  background-color: #1a1a1a; 
  padding: 20px; 
  text-align: center; 
  border: 1px solid #535bf2; 
  flex: 1; 
  min-width: 150px;
}
